nav {
  background-color: #9caf88;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
}

.container {
  margin: 0 auto;
  padding: 30px;
  color: black;
  background-color: #f2d1c9;
}

.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.message {
  text-align: center;
  font-size: 18px;
}

.errorMessage {
  color: red;
}

.content {
  background: beige;
  padding: 25px;
  border-radius: 10px;
}

.subTitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.image {
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
}

.explanation {
  font-size: 20px;
}

.paragraph {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}

.container {
  padding: 30px;
  color: #222;
  background-color: #f2d1c9;
}

.title {
  font-size: 35px;
  margin-bottom: 15px;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  border: 4px solid #9caf88;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: beige;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.image {
  width: 450px;
  height: 400px;
  border-radius: 5px;
  object-fit: cover;
}

.titleText {
  font-size: 15px;
  font-weight: bold;
  margin: 10px
}

.dateText {
  font-size: 10px;
  color: black;
}

.explanation {
  font-size: 18px;
  color: black;
  margin-top: 5px;
}

.error {
  color: red;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(148, 141, 141, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: beige;
  padding: 20px;
  max-width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 15px;
}

.modalImage {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.modalButton {
  margin-top: 30px;
}
